#addBtn{
    position: fixed;
    left: 90%;
    top: 90%;
    height: fit-content;
    width: fit-content;
}
.card-text{
    width: fit-content;
}

.container-xxl{
    background-color: burlywood;
}
body{
    background-color: bisque;
}
.card{
background-color: bisque;
}

.buttons{
    display: flex;
}

footer {
    flex: 0 0 auto;
    color: black;
    text-align: center;
  }
  
.transparent-input{
    background: transparent;
}